<footer class="footer-wrapper footer-layout1" data-bg-src="assets/img/bg/footer-bg.jpg">
	<div class="footer-top">
		<div class="shadow-color"></div>
	</div>
	<div class="widget-area">
		<div class="container">
			<div class="row g-5 justify-content-between">
				<div class="col-md-6 col-xl-3">
					<div class="widget footer-widget">
						<div class="vs-widget-about">
							<div class="footer-logo">
								<a href="{{path('app_home')}}">
									<img src="{{ asset('assets/img/secondry.png') }}" alt="Travolo" class="logo"/>
								</a>
							</div>
							<p class="footer-text">
								Nous mettons tout en œuvre pour offrir la meilleure
																																                    expérience à nos utilisateurs. Découvrez des destinations
																																                    incroyables et profitez d’un service de qualité.
							</p>
							<div class="social-style1">
								<a href="#" target="_blank">
									<i class="fab fa-facebook-f"></i>
								</a>
								<a href="#" target="_blank">
									<i class="fab fa-instagram"></i>
								</a>
								<a href="#" target="_blank">
									<i class="fab fa-pinterest-p"></i>
								</a>
								<a href="#" target="_blank">
									<i class="fab fa-twitter"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xl-2">
					<div class="widget widget_nav_menu footer-widget">
						<h3 class="widget_title">Liens Utiles</h3>
						<div class="menu-all-pages-container">
							<ul class="menu">
								<li>
									<a href="index.html">
										<i class="far fa-angle-right"></i>
										Accueil</a>
								</li>
								<li>
									<a href="destinations.html">
										<i class="far fa-angle-right"></i>
										Destinations</a>
								</li>
								<li>
									<a href="tours.html">
										<i class="far fa-angle-right"></i>
										Tours</a>
								</li>
								<li>
									<a href="shop.html">
										<i class="far fa-angle-right"></i>
										Boutique</a>
								</li>
								<li>
									<a href="blog.html">
										<i class="far fa-angle-right"></i>
										Blog</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-xl-3">
					<div class="widget footer-widget">
						<h4 class="widget_title">Abonnez-vous</h4>
						<form class="newsletter-form">
							<p class="form_text">
								Abonnez-vous à notre newsletter pour recevoir des mises à
																																                    jour rapides et des offres exclusives.
							</p>
							<input class="form-control" type="email" placeholder="Votre adresse email"/>
							<button type="submit" class="vs-btn">S'abonner</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="copyright-wrap">
			<div class="row justify-content-between align-items-center">
				<div class="col-lg-auto">
					<p class="copyright-text">
						Copyright
						<i class="fal fa-copyright"></i>
						<script>
							document.write(new Date().getFullYear());
						</script>
						<a href="index.html">TripToGo</a>. Tous droits réservés par
						<a href="https://themeforest.net/user/vecuro">Youssef Dhib</a>
					</p>
				</div>
				<div class="col-auto d-none d-lg-block">
					<div class="copyright-menu">
						<ul class="list-unstyled">
							<li>
								<a href="#">Confidentialité</a>
							</li>
							<li>
								<a href="#">Conditions générales</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
